*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: #FFF7EF
    font-family: 'Roboto'
    font-style: normal
    font-size: 20px

h1, h2, h3, h4, h5, h6
    margin: 0
    
.container
    width: 1200px
    margin: 0 auto

.btn
    padding: 15px 40px
    background: #F93E73
    border-radius: 100px
    color: #fff
    margin-top: 75px
    border: none
    font-size: 20px
    text-transform: uppercase
    font-family: 'Roboto'
    display: inline-block

.title
    font-family: 'Roboto'
    font-style: normal
    font-weight: 600
    font-size: 30px
    text-transform: uppercase
    color: #000000
    text-align: center


@import 'blocks/_header'
@import 'blocks/_selfmade'
@import 'blocks/_choose'
@import 'blocks/_subscript'