.choose
    margin-top: 130px
    height: 650px
    width: 100%
    background: url('../img/choose.jpg') center center/cover no-repeat
    text-align: right
    button
        margin-top: 280px
       
        

        
        
        

      
      
       
       
     
      
        
    