.header
    background: url("../img/header.jpg") center center/cover no-repeat
    height: 800px
    &__menu
        padding-top: 35px
        display: flex
        align-items: center
        justify-content: right
        a
            color: #fff
            font-family: 'Roboto'
            font-style: normal
            font-weight: 700
            font-size: 20px
            text-decoration: none
            margin-left: 60px

    &__promo
        padding-top: 160px
        width: 650px
        h1
            font-family: 'Hind'
            font-style: normal
            font-weight: 700
            font-size: 70px
            color: #F93E73
            line-height: 130%
            span
                font-size: 130px
                line-height:0%
        &_text
            margin-top: 20px
            font-family: 'Roboto'
            font-style: normal
            font-weight: 700
            font-size: 30px
            line-height: 150.52%
            letter-spacing: 0.02em
            color: #FFFFFF
    
    .burger-menu
        display: none        
    .burger-menu_button 
        position: fixed
        top: 15px
        right: 15px
        z-index: 30
        width: 50px
        height: 50px
        border-radius: 50%
        background-color: rgba(255, 255, 255, 0.5)
        -webkit-transition: 0.4s
        -moz-transition: 0.4s
        -o-transition: 0.4s
        transition: 0.4s
        
    .burger-menu_button:hover .burger-menu_lines 
        filter: brightness(0.7)
        
    .burger-menu_button:hover 
        background-color: rgba(255, 255, 255, 0.7)
        
    .burger-menu_lines::before,
    .burger-menu_lines::after,
    .burger-menu_lines 
        position: absolute
        width: 35px
        height: 3px
        background-color: #f93e73
        -webkit-transition: 0.4s
        -moz-transition: 0.4s
        -o-transition: 0.4s
        transition: 0.4s
        
    .burger-menu_lines 
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        
    .burger-menu_lines::before 
        content: ''
        top: -12px
        
    .burger-menu_lines::after 
        content: ''
        top: 12px
        


    .burger-menu_active .burger-menu_lines 
        background-color: transparent
        
    .burger-menu_active .burger-menu_lines::before 
        top: 0
        transform: rotate(45deg)
        
    .burger-menu_active .burger-menu_lines::after
        top: 0
        transform: rotate(-45deg)
        
    .burger-menu_nav 
        padding-top: 120px
        position: fixed
        top: 0
        z-index: 20
        display: flex
        flex-flow: column
        height: 100%
        background-color: #f93e73bd
        overflow-y: auto
        right: -100%
        -webkit-transition: 0.8s
        -moz-transition: 0.8s
        -o-transition: 0.8s
        transition: 0.8s
        
    .burger-menu_active .burger-menu_nav 
        right: 0
        -webkit-transition: 0.4s
        -moz-transition: 0.4s
        -o-transition: 0.4s
        transition: 0.4s
        
    .burger-menu_link 
        padding: 25px 50px
        font-family: 'Roboto', sans-serif
        font-size: 18px
        text-decoration: none
        text-transform: uppercase
        letter-spacing: 3px
        font-weight: 500
        color: #fff
        border-bottom: 0.5px solid #fff
        
    .burger-menu_link:hover 
        filter: brightness(0.8)


        
    .burger-menu_overlay 
        display: none
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        z-index: 10
        
    .burger-menu_active .burger-menu_overlay 
        display: block
        background-color: rgba(0, 0, 0, 0.5)
    .social
        display: flex
        margin-top: 50px
        justify-content: center
        a:first-child
            margin-right: 40px
        a:hover 
            filter: brightness(0.8)
        
    .menu-burger.out 
        transform: translateY(-100%)


       